<!DOCTYPE html>
<html>

<head>
    
    <meta charset="UTF-8">
    <title>Lucas Aho's Portfolio</title>

    <!--Font Links-->
    <link href="https://fonts.googleapis.com/css?family=Asap+Condensed|Big+Shoulders+Display|Josefin+Sans|Pontano+Sans&display=swap" rel="stylesheet">   
       
    <!--jQuery Link-->
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <!--JS Reference-->    
    <script src="/assets/javascript/app.js"></script>

    <!--Bootstrap/CSS link-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/style/style.css"  type="text/css">
</head>

<body>
  {{{body}}}  
</body>
    
</html>